*{
    margin: 0%;
    padding: 0%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    height: 50px;
    background-color: rgb(6, 6, 66);
    color: white;
    font-size: larger;
    align-items: center;
}

#menu{
    display: flex;
    justify-content: space-evenly;
}

#menu>div{
    padding-left: 30px;
}

a{
    color: white;
    text-decoration: none;
}